<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body>
    <div class="main-content">
    {{>header}}
    <img class="portrait" src="img/robot.png">
    <ul>  
    <li>This site provides real time weather.</li>
    <li>It takes location as input and converts it into geographical coordinates via api.</li>
    <li>These coordinates are used to fetch the weather of the location via another api.</li>
    <li>Basically it is a project to use apis and nodejs</li>
    </ul>
    </div>
    {{>footer}}
</body>
</html>