<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body>
    <div class="main-content">
        {{>header}}
    <h3>{{message}}</h3>
    <ul>
        <li>Enter the name of the place to know the current weather.</li>
        <li>Do not enter pincode or geographical coordinates.</li>
    </ul>
    <p><b>For more help write to us.</b>Link to write to us will be updated soon.</p>
    </div>
   
    {{>footer}}
</body>
</html>